.col-xs-1 {
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: rgba(86,61,123,.3);
    margin: 1px;
}

.p1 { 
    background: #65D848;
}

.p2 {
    background: #E75858;
}

.btn {
    margin: 5px;
}
